:root {
    --primary-color: #f97a05;
    --primary-background: #000000;
    --line-color: #f97a05;
    --marquee-color: #FFFFFF;
    --marquee-background: #462200;
    --result-pasaran-color: #FFFFFF;
    --result-tanggal-color: #000000;
    --result-tanggal-background: #fb7a03;
    
    --result-background: #111111;
    --result-keluaran-color: #ffffff;
    --result-border: 3px solid #9e9e9e;
    
    --text-color: #e0e0e0;
    --primary-text-color: #ffffff;
    --reverse-text-color: #000000;
    
    --secondary-background: #000000;
    --hover-background: rgba(0, 0, 0, .9);
    --menu-item-color: var(--text-color);
}