@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cobna3');
  src:  url('fonts/icomoon.eot?cobna3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cobna3') format('truetype'),
    url('fonts/icomoon.woff?cobna3') format('woff'),
    url('fonts/icomoon.svg?cobna3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slots:before {
  content: "\e900";
}
.icon-lottery:before {
  content: "\e905";
}
.icon-sabung:before {
  content: "\e906";
}
.icon-arcade:before {
  content: "\e907";
}
.icon-casino:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-event:before {
  content: "\e901";
}
.icon-interactive:before {
  content: "\e902";
}
.icon-promotion:before {
  content: "\e903";
}
.icon-sports:before {
  content: "\e904";
}
